{% extends templates.layout_template %}

{% block body %}
    <h1>{{ 'list'|trans({}, 'jb_simple_page_admin') }}</h1>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <a href="{{ path('jb_simple_page_create') }}" class="btn btn-primary">{{ 'create'|trans({}, 'jb_simple_page_admin') }}</a>

    <table class="table">
        <tr>
            <th>{{ 'id'|trans({}, 'jb_simple_page_admin') }}</th>
            <th>{{ 'title'|trans({}, 'jb_simple_page_admin') }}</th>
            <th>{{ 'actions'|trans({}, 'jb_simple_page_admin') }}</th>
        </tr>
        {% for page in pages %}
            <tr>
                <td>{{ page.id }}</td>
                <td>{{ page.title }}</td>
                <td>
                    <form action="{{ path('jb_simple_page_remove', {slug: page.slug}) }}" method="post">
                        <input type="submit" class="btn" value="{{ 'delete'|trans({}, 'jb_simple_page_admin') }}" />
                        <a href="{{ path('jb_simple_page_edit', {slug: page.slug}) }}" class="btn">{{ 'edit'|trans({}, 'jb_simple_page_admin') }}</a>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr><td colspan="3">{{ 'no_result'|trans({}, 'jb_simple_page_admin') }}</td></tr>
        {% endfor %}
    </table>
{% endblock %}